.uniqueWeapon {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 5px 0;
  line-height: 1.7;

  div:nth-child(1) {
    margin: 0;
    padding: 0 10px;

    .uw-index {
      margin: auto;
      width: max-content;
    }
  }

  &-info {
    p:nth-child(1) {
      display: flex;
      flex-wrap: wrap;
    }

    span,
    p:nth-child(2) {
      display: block;
      padding: 0 10px;
    }
  }

  @media (width<=575px) {
    &-data {
      flex-direction: column;
    }
  }
}