.level-timeline {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &-list {
    overflow: auto;
    box-sizing: border-box;
    padding: 3px;
    width: clamp(220px, 25.5vw, 325px);
    font-size: clamp(1.2rem, 1.2vw, 1.25rem);
    @include scroll;

    li {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 60px;
      text-align: center;
      transition: background-color .2s;

      &:hover,
      &:active {
        background-color: rgb(var(--color-bg-hover) / 30%);
      }

      &.current {
        color: var(--text-color-selected-2);
      }

      div span {
        display: inline-block;
        width: 75px;
      }
    }

    li div:nth-child(1) {
      border-bottom: 1px solid var(--color-border);
      max-width: max-content;
      line-height: 1.2;
      font-size: clamp(1.3rem, 1.6vw, 1.5rem);
    }

    li:nth-child(n+2) {
      margin-top: 18px;

      &::after {
        left: 0;
        right: 0;
        top: -16px;
        margin: auto;
        width: 2px;
        height: 14px;
        background-color: var(--color-border-2);
      }
    }

    li:nth-child(n+2)::after,
    .line::before,
    .line::after {
      position: absolute;
      content: "";
    }

    .line::before,
    .line::after {
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, transparent 0%, var(--color-border) 50%, transparent 100%);
    }

    .line::after {
      top: 0;
    }

    .line::before {
      bottom: 0;
    }
  }

  .scroll-auto {
    overflow: hidden auto;
    @include scroll;
  }

  &-info {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    padding: 0 5px;

    > div {
      line-height: 1.2;
      white-space: pre;
    }

    .event-units {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        margin: 0 5px;
        text-align: center;

        > div {
          width: 75px;
        }
      }
    }

    .title {
      font-size: 1.7rem;

      &:nth-child(2) {
        margin-bottom: 10px;
      }
    }

    > * {
      text-align: center;
    }

    a {
      margin: auto;
      max-width: max-content;
    }

    .event-enemy-info {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      font-size: 1.3rem;

      > li {
        display: flex;
        box-sizing: border-box;
        padding: 5px 2px;
        min-width: 50%;

        > div:nth-child(1) {
          margin-right: 5px;
        }

        // @media screen and (width<=860px) {
        //   width: 100%;
        // }
      }

      .mark-text {
        display: flex;

        p {
          position: relative;
          margin: 0 13px;

          &::after {
            position: absolute;
            left: -13px;
            top: 0;
            bottom: 0;
            margin: auto;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            background-color: var(--color-bg-checked);
            content: "";
          }
        }
      }
    }

    img {
      display: block;
      margin: auto;
    }

    .event-info {
      white-space: pre-wrap;

      img {
        max-width: 60%;
      }
    }

    .event-value {
      span,
      .name {
        margin-top: 10px;
        font-weight: bold;
      }

      > div {
        display: flex;
        justify-content: center;

        > p {
          margin: 0 10px;
          width: max-content;
        }
      }
    }
  }

  .level-timeline-info-event {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    flex: 1 0;
    width: 100%;
    scroll-snap-type: x mandatory;
    @include scroll;

    > li {
      overflow-y: auto;
      scroll-snap-align: start;
      flex: 0 0 100%;
      box-sizing: border-box;
      padding: 5px 0;
      width: 100%;
      min-height: 100%;
      @include scroll;
    }
  }

  .toggle-show {
    display: flex;
    justify-content: center;

    > div {
      margin: 2px 7px 4px;
      width: 100px;
      height: 23px;
      line-height: 23px;
    }
  }

  @media (width <=860px) {
    flex-direction: column;
    width: 100%;

    &-list {
      display: flex;
      margin: 0 3px 4px;
      width: 100%;

      li {
        flex: 0 0 145px;
      }
    }

    li:nth-child(n+2) {
      margin-top: 0;

      &::after {
        display: none;
      }
    }
  }
}