.unit-class-and-eq {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}

.unit-class-and-eq > li {
  margin: 0 15px;
  text-align: center;
  font-size: 1.3rem;

  @media (width <=575px) {
    justify-content: center;
    width: 20%;
  }

  > div:nth-child(1) {
    height: 25px;
    line-height: 25px;
  }

  .unit-class-and-eq-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 0;
    height: 32px;
    line-height: 32px;

    .eq-tips {
      display: inline-block;
      position: relative;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: var(--color-bg-btn);
    }

    > p {
      margin: 0 5px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: var(--color-bg-btn);
      cursor: pointer;
      transition: .3s;

      &:hover {
        background-color: var(--color-focus);
      }
    }
  }


  .class-select {
    background-color: var(--color-focus) !important;

  }
}

.eq-tip-hover:focus {
  .eq-tip {
    visibility: visible;
    opacity: 1;
  }
}

.eq-tip {
  @include position-fixed-center;
  display: flex;
  visibility: hidden;
  z-index: 15;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 4px 8px;
  border: 2px solid var(--color-border);
  border-radius: 6px;
  width: max-content;
  max-width: 260px;
  height: max-content;
  background-color: var(--color-bg);
  opacity: 0;
  cursor: default;
  line-height: 1.5;
  font-size: clamp(1.2rem, 1.25vw, 1.4rem);
  transition: .3s;

  li {
    width: 50%;

    p {
      width: 100%;
      height: 26px;
      line-height: 26px;
    }

    span:nth-child(1) {
      text-align: left;
    }

    span {
      display: inline-block;
      width: 45%
    }
  }
}