.reward-2 {
  p {
    display: flex;
    align-items: center;
    margin: 1px 0;

    > div {
      margin: 0 !important;
    }
  }

  span {
    margin-top: -1px;
    font-size: 2.2rem;
    color: rgb(235 199 0);
  }
}